<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test0823</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Entry.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthCode</display-name>
    <servlet-name>AuthCode</servlet-name>
    <servlet-class>AuthCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthCode</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.fenliu.CheckImg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fenliu.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteMessageServlet</display-name>
    <servlet-name>WriteMessageServlet</servlet-name>
    <servlet-class>com.fenliu.web.WriteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteMessageServlet</servlet-name>
    <url-pattern>/writeMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangPasswordServlet</display-name>
    <servlet-name>ChangPasswordServlet</servlet-name>
    <servlet-class>com.fenliu.web.ChangPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangPasswordServlet</servlet-name>
    <url-pattern>/changPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteIdeaServlet</display-name>
    <servlet-name>WriteIdeaServlet</servlet-name>
    <servlet-class>com.fenliu.web.WriteIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteIdeaServlet</servlet-name>
    <url-pattern>/writeIdea</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>PrintMessageServlet</display-name>
    <servlet-name>PrintMessageServlet</servlet-name>
    <servlet-class>com.fenliu.web.PrintMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintMessageServlet</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.fenliu.web.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshRankingServlet</display-name>
    <servlet-name>RefreshRankingServlet</servlet-name>
    <servlet-class>com.fenliu.web.RefreshRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshRankingServlet</servlet-name>
    <url-pattern>/refreshranking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLoginServlet</display-name>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>com.fenliu.web.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/teacherlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLookStudentListServlet</display-name>
    <servlet-name>TeacherLookStudentListServlet</servlet-name>
    <servlet-class>com.fenliu.web.TeacherLookStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLookStudentListServlet</servlet-name>
    <url-pattern>/teacherlookstudentlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherChooseToMeetingServlet</display-name>
    <servlet-name>TeacherChooseToMeetingServlet</servlet-name>
    <servlet-class>com.fenliu.web.TeacherChooseToMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherChooseToMeetingServlet</servlet-name>
    <url-pattern>/teacherChooseToMeeting</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>SetBeginDateServlet</display-name>
    <servlet-name>SetBeginDateServlet</servlet-name>
    <servlet-class>com.fenliu.web.SetBeginDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBeginDateServlet</servlet-name>
    <url-pattern>/setBeginDate</url-pattern>
  </servlet-mapping>
</web-app>