html{
	height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%
}

#container{
	margin: 0 auto; 
	height: auto;
	height: 100%;
	position: relative;
	min-height: 100%;
	height: 3135px;
}


#content{
	min-height: 3000px;
}


/*
#footer{
	bottom: 0;
	position: absolute;
	width: 100%;
}*/



.column{
	background-color: #cdf0b0;
}


.info img{
	float: left;
	height: 65px;
	width: 65px;
	margin-top: 0px;
	margin-left: 20px;
	border: groove;
}

.sidebar hr{
	height: 1px;
	border:none;
	border-top: 1px solid #90B63F;	
}

.column hr{
	height: 1px;
	border:none;
	border-top: 1px solid #6cba77;	
	width: 670px;
	float: left;
	text-align: center;
}

#name{
	
	font: "微软雅黑";
	font-size: 12px;
	display: block;
	margin-top: 20px;
	color: #3B7519;
	text-decoration: underline;
}

#no{
	
	font: "微软雅黑";
	font-size: 12px;
	display: block;
	margin-top: -20px;
	margin-bottom: 5px;
	color: #3B7519;
	text-decoration: underline;
}

.info input{
	font-size: 12px;
}

.se2{
    width: 70px;
    height: 24px;
    position: absolute;
    top: 195px;
    left: 300px;
    z-index: 1;
    opacity: 0;
}
.se1{
    width: 70px;
    height: 24px;
    font-size: 12px;
    color: #fff;
    background: #4E8F17;
    border-radius: 3px;
    border-width: 1px;
    position: absolute;
    top: 195px;
    left: 300px;
}
.se1:hover{
    cursor: pointer;
}



.message{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-top: 25px;
	/*text-align: left;*/
}

.message a{
	text-decoration: none;
	color: #3B7519;
}

.message li{
	text-align: left;
	list-style: none;
	float: inherit;
	/*display: list-item;*/
	margin-left: 10px;
	margin-bottom: 10px;
	color: eee;
	line-height: 1.7em;
}

.message li:hover{
	text-decoration: none;
	color: #000;
	background-color:rgba(255,255,255,0.3);
}

.lables p{
	margin-top: 30px;
	margin-bottom: -10px;
	font-size: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #4E8F17;
}

.lables a{
	text-decoration: none;
	color: #3B7519;
}

.lables li{
	text-align: left;
	list-style: square;
	margin-left: 25px;
	padding-top: 5px;
	color: #4E8F17;
	line-height: 1.6em;
}

.lables li:hover{
	text-decoration: none;
	color: #fff;
	background-color:rgba(255,255,255,0.3);
}




.publish_box{
	width: 720px;
	height: 230px;
	background-color: #FFF;
	margin-top: 20px;
	border: groove;
	border-width: 1px;
	border-color: #949494;
	border-radius: 3px;
}

.publish_box textarea{
	height: 150px;
	width: 680px;
	color: #207f60;
	font-family: Microsoft YaHei;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 10px;
	margin: 15px;
	background: #FFFFFF;
	border-radius: 3px;
	text-align: left;
	resize: none;
	/*margin-bottom: 5px;*/
}

.publish_box span{
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-left: 15px;
	color: #3B7519;
}

.L1,.L2,.L3,.L4,.L5{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	/*padding-left: 10px;*/
	margin-left: -20px;
	margin-right: 10px;
}

/*
.L1 input[type="submit"],
.L2 input[type="submit"],
.L3 input[type="submit"],
.L4 input[type="submit"],
.L5 input[type="submit"]{
	background-color: #90b63f;
	border-radius: 20px 20px;
	border: smart-green;
	border-width: 1px;
	padding: 3px 9px 3px 9px;
	color: #fff;
	font-size: 12px;
	text-shadow: 1px 1px 1px #949494;
}

.L1 input[type="submit"]:hover ,
.L2 input[type="submit"]:hover ,
.L3 input[type="submit"]:hover ,
.L4 input[type="submit"]:hover ,
.L5 input[type="submit"]:hover {
	background-color: #7a8d3c;
}*/


.L1,.L2,.L3,.L4,.L5 span{
	position: relative;
	margin-right: 20px;
}


.input_check{
	position: absolute;
	visibility: hidden;
}

.input_check+label{
	float: left;
	display: inline-block;
	margin-right: 5px;
	margin-top: 2px;
	width: 14px;
	height: 14px;
	border: 1px solid #3B7519;
} 



.input_check:checked+label:after{
	content: "";
	position: absolute;
	left: 16px;
	bottom: 8px;
	width: 9px;
	height: 4px; 
	border: 2px solid #e92333;
	border-top-color: transparent;
	border-right-color: transparent; 
	-ms-transform: rotate(-60deg); 
	-moz-transform: rotate(-60deg); 
	-webkit-transform: rotate(-60deg); 
	transform: rotate(-45deg);
}

#L5_check5 .input_check:checked+label:after{
	content: "";
	left: 1px;
	bottom: 8px;
	width: 9px;
	height: 4px; 
	border: 2px solid #e92333;
	border-top-color: transparent;
	border-right-color: transparent; 
	-ms-transform: rotate(-60deg); 
	-moz-transform: rotate(-60deg); 
	-webkit-transform: rotate(-60deg); 
	transform: rotate(-45deg);
}


.publish_button input[type="submit"]{
	background-color: #b7ca54;
	border-radius: 5px 5px;
	border: solid smart-green;
	padding: 5px 20px 5px 20px;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 1px #949494;
	float: right;
	margin-right: 10px;
	margin-top: -10px;
}

.publish_button input[type="submit"]:hover {
	background-color: #4e8f17;
}



.org_story{
	height: aotu;
	width: 720px;
	float: left;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

.story{
	width: 720px;
	height: aotu;
	background-color: #FFF;
	margin-top: 20px;
	border: groove;
	border-width: 1px;
	border-color: #949494;
	border-radius: 3px;
}

.story_avatar{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	height: 50px;
	width: 50px;
}

.story_avatar img{
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #7A8D3C;
	border-radius: 100%;
}


.story_ID{
	font-size: 13px;
	font-weight: bold;
	color: #13553c;
	float: left;
	margin-left: 15px;
	margin-top: 28px;
}

.story_time{
	font-size: 12px;
	font-weight: 100;
	float: left;
	margin-left: -63px;
	margin-top: 50px;
	color: #919191;	
}

.story_cont_box{
	width: 615px;
	float: left;
	font-size: 14px;
	color: #185d3d;
	margin-left: -153px;
	margin-top: 80px;
}

.story_content{
	text-align: left;
}

.reply{
	background-color: #f2f2f5;
	height: 400px;
	width: 720px;
	/*margin-bottom: 20px;*/
}

.reply_avatar{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.reply_avatar img{
	width: 35px;
	height: 35px;
}


.my_reply_cont textarea{
	height: 25px;
	float: left;
	width: 615px;
	color: #207f60;
	font-family: Microsoft YaHei;
	font-size: 13px;
	padding-top: 8px;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 10px;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #3B7519;
	text-align: left;
	resize: none;
	/*margin-bottom: 5px;*/
}

.my_reply_cont input{
	float: right;
	margin-top: 12px;
	margin-right: 26px;
	background-color: #b7ca54;
	border-radius: 5px 5px;
	border: solid smart-green;
	padding: 2px 10px 2px 10px;
	color: #fff;
	font-size: 13px;
	/*text-shadow: 1px 1px 1px #949494;*/
}


.1reply_cont_box{
	padding-left: 20px;
}

.1reply_avatar{
	float: left;
	margin-left: 100px;
	margin-top: 100px;
}

.1reply_avatar img{
	width: 35px;
	height: 35px;
}


